discord.py==2.7.1
motor==3.6.0
dnspython==2.2.1
tldextract==3.2.1
validators==0.18.2
humanize==4.0.0
beautifulsoup4==4.15.0
lyricsgenius==3.12.2
psutil==7.2.2
aiohttp==3.14.3
python-dotenv==1.1.1
requests==2.34.2
